<%- include('../partials/header') %>
<div id="mainmodal" class="jumbotron">
  <form id="homesearch" class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <h1 id="maintitle" class="display-3">THE GUIDANCE COUNSELLOR!</h1>
  <p class="lead">Please select one of the options below to leave a review or learn more.</p>
  <hr class="my-4">
  <p></p>
  <p id="allhomepagebtns"class="lead">
    <a id="homepagebtns" class="btn btn-dark btn-lg" href="/schools" role="button">Schools</a>
    <a id="homepagebtns" class="btn btn-dark btn-lg" href="/programs" role="button">Programs</a>
    <a id="homepagebtns" class="btn btn-dark btn-lg" href="/professors" role="button">Professors</a>
  </p>
 
</div>

<div class="jumbotron">
  <h1 class="display-6">EXTRA TIPS AND TRICKS TO HELP YOU SUCCEED</h1>
  <p class="lead"></p>
  <hr class="my-4">

  <div id="homeimages"> 
   <h4 id="extratips"></h4id>HOW TO MANAGE YOUR TIME BETTER?</h4> 
<div class="card" style="width: 30rem;">
  <img class="card-img-top" src="https://www.rasmussen.edu/-/media/images/blogs/student-life/college-life/time-management-tips.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">It is very important to learn how to manage your time as a student. 
      Click here to learn <a target="blank" href="https://www.rasmussen.edu/student-experience/college-life/time-management-tips-college/">More</a>.</p>
  </div>
</div>
<h4 id="extratips"> GETTING INVOLVED IN SCHOOL</h4> 
<div class="card" style="width: 30rem;">
  <img class="card-img-top" src="https://wp-media.petersons.com/blog/wp-content/uploads/2019/07/11154102/iStock-1145183123.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">You may have heard that you’ll have plenty of things to do outside of class once you get to 
      know others in your dorm or classes, but if you’d like to be more involved or if it’s been hard to make
       connections with other students, think about trying something new. Click here to learn
       <a target="blank" href="https://www.iowastudentloan.org/articles/college/12-ways-to-get-involved.aspx">More</a>.</p>
  </div>
</div>
<h4 id="extratips"></h4id>TIPS TO HANDLE STRESS </h4> 
<div class="card" style="width: 30rem;">
  <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/l5zgM6qUrCmaIsAEevK0hmcOM_vuVgbiKZSW9prmMZhuDTnmKewSuZQlFT0XVUntzIMP69ALx7NMOdhWjKzNQdPMtzJEQ3lKUBh3Ui6xlDMJszzwXk8s_tVnNcnzM945VLEqjAkxnVCBUZvYG1TBS4c" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">School does get overwhelming and is very stressful but click
       <a target="blank" href="https://www.verywellmind.com/top-school-stress-relievers-for-students-3145179">here</a> for some tips on how to manage.</p>
  </div>
</div>
  </div>

</div>


<%- include('../partials/footer') %>
