<%- include('../partials/header') %>
<div class="jumbotron">
  <form id="homesearch" class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <h1 class="display-3">PAGE UNDER CONSTRUCTION!</h1>
  <p class="lead">Please hang tight.</p>
  <hr class="my-4">

</div>


<%- include('../partials/footer') %>
